* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px solid #000;
}